
<h2>Hard & Soft Skill</h2>
<div class="row" class="d-flex justify-content-around">


  <div class="text-center col-xs-4 col-sm-4 col-md-4 col-ig-4">
   
        
      <circle-progress
        [percent]="85"
        [radius]="20"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        [responsive]="true"
      ></circle-progress>
        
    </div>

    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-ig-4">
        <circle-progress
        [percent]="85"
        [radius]="20"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        [responsive]="true"
      ></circle-progress>
        
    </div>
    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="20"
        [outerStrokeWidth]="5"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        [responsive]="true"
      ></circle-progress>
        
    </div>

</div>
    


