<div class="row">
    <h1>Educación</h1>  
</div>
<div class="row align-items" *ngFor="let educacion of educacion">

    
    
    <div class="col-lg-1"></div>
    <div class="col-lg-10" >
      
        <ul>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Modificar</button>
                <button type="button" class="btn btn-secondary">Eliminar</button>
                
              </div>
              
            <li>
                <h1>{{educacion.tituloEdu}}</h1> <h4> {{educacion.fechaEdu}}</h4>
            </li>
            <div class="col-lg-7"> {{educacion.descEdu}}</div>
            <div class="col-lg-1" >
                <img src="{{educacion.imagenEdu}}" alt=""  width="100" class="rounded" class="img-fluid">
            </div>
      
        </ul>
      </div>  
    
    </div>
    
