<div class="row">
<h1>Experiencia Laboral</h1>
<div class="col-lg-1"></div>
<div class="col-lg-12" >
    <ul>
        <li>
            <h1>Trabajo 1</h1> <h3> 3 años</h3>
        </li>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Provident cum, accusantium, dolorem aut,
            asperiores quasi unde expedita iure dolores possimus ea
            harum in consectetur aperiam perspiciatis? 
            Ea numquam atque necessitatibus!</p>
    </ul>
    <ul>
        <li>
            <h1>Trabajo 2</h1> <h3> 3 años</h3>
        </li>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Provident cum, accusantium, dolorem aut,
            asperiores quasi unde expedita iure dolores possimus ea
            harum in consectetur aperiam perspiciatis? 
            Ea numquam atque necessitatibus!</p>
    </ul>
    <ul>
        <li>
            <h1>Trabajo 3</h1> <h3> 3 años</h3>
        </li>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Provident cum, accusantium, dolorem aut,
            asperiores quasi unde expedita iure dolores possimus ea
            harum in consectetur aperiam perspiciatis? 
            Ea numquam atque necessitatibus!</p>
    </ul>
</div>
</div>
