<div class="container">
<div class="row">
    <div class="col-xs-1 col-sm-2 col-md-2 col-ig-2">
        <img src="\assets\fotperfil.jpg" class="rounded" class="img-fluid rounded-circle" >
      
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-ig-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}} </p>
        <p id="titulo">{{persona.titulo}}</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-ig-8">
        <span>
            <h1>
                Acerca de mi
            </h1>
            <p id="acercaDe">{{persona.acercaDe}}</p>
        </span>
    </div>
</div>

</div>
