<div class="row">
    <div class="container">
        <div class="col-lg-1 col-sm-1  col-md-1 col-md-1" >
                <div class="logo" >
                <img  src='\assets\LogoAp1.png' id="logoAp" class="img-fluid" class="rounded float-start" >
                <div class="col-lg-1 col-sm-1 col-md-1 col-md-1" ><h5>#SEPROGRAMAR</h5></div>
               </div>
        </div>
        <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10"  ></div>
        <div>
            <div class="col-lg-7 col-sm-7 col-md-7 col-xs-4">
                <div class="redes">
                    <a href=""><img  src="\assets\linkedin2.png" id="linkedin" class="rounded-circle" width = "33%" ></a>
                    <a href=""><img  src="\assets\facebook3.png" id="facebook" class="rounded-circle"  width = "33%"></a>
                    <a href=""><img  src="\assets\instagram1.jpg" id="instagram" class="rounded-circle"  width = "33%"></a>
                    
                    <button type="button" class="btn btn-outline-light" (click)="login()" id="button" *ngIf="! isLogged">Ingreso</button>
                    <button type="button" class="btn btn-outline-light" (click)="onLogOut()" id="button" *ngIf="isLogged">Cerrar sesion</button>
                   </div>

            </div>
            
        </div>
       
        

        
      
    </div>
 
</div>
       


     

    


